a{
    text-decoration: none;
}
.categories{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}
.categories>li>a{
    text-decoration: none;
    display: inline-flex;
    width: 100%
}
.display_image>img{
   width: 168px;
   height: 168px;
}
.categories>li:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bestseller{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bestseller>li{
    border: 1px solid rgb(224,224,224);
    display: inline-block;
    background-color: rgb(245,245,245);
    width: 168px;
}
.bestseller>li>a>div>img{
    width: 168px;
    height: 168px;
}
.label{
    color: black; 
}
.bestseller>li:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 